@import "@/assets/scss/variables.scss";

.fade-in-enter-active,
.fade-in-leave-active {
	transition: all .5s ease-in-out;
	opacity: 1;
	transform: translateY(0);
}

.fade-in-enter-from,
.fade-in-leave-to {
	opacity: 0;
	transform: translateY(100%);

}
.fade-out-enter-active,
.fade-out-leave-active {
	transition: all .5s ease-in-out;
	opacity: 0;
	transform: translateY(-100%);

}

.fade-out-enter-from,
.fade-out-leave-to {
	opacity: 1;
	transform: translateY(0%);

}



.spin-enter-active,
.spin-leave-active {
  transition: all .5s ease-in-out;
  transform: rotate(1080deg); /* Three full spins (360 * 3 = 1080deg) */
}

.spin-enter-from,
.spin-leave-to {
  transform: rotate(0);
}





.zoom-out-enter-active,
.zoom-out-leave-active {
	transition: all .5s ease;
	opacity: 1;
}

.zoom-out-enter-from,
.zoom-out-leave-to {
	opacity: 0;
}







.fade-out {
	transition: opacity .5s;
	animation: fade-out .5s ease-out;
}

.fade-in {
	transition: opacity .5s;
	animation: fade-in .5s ease-in;
}








.slide-in {
	animation: slide-in 1.5s forwards;
	animation-timing-function: cubic-bezier(.09, .72, .6, 1.12);
	animation-delay: 3s;
	opacity: 0;
}

.appear {
	opacity: 0;
	animation: appear 1s forwards;
	animation-delay: 2s;
}


//finger pointing animation
@keyframes jump{
0%{
	transform: translateY(0);

}
50%{
	transform: translateY(-10px);

}

100%{
	transform: translateY(0);

}
}


@keyframes slide-in {
	0% {
		transition: all 1s ease;
		opacity: 0;
		transform: skew(53deg) translateX(-500%);
	}



	100% {

		opacity: 1;
		transform: skew(0deg) translateX(0);

	}
}







@keyframes fade-out {
	from {
		opacity: 1;

	}

	to {
		opacity: 0;

	}
}

@keyframes fade-in {
	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;

	}
}

@keyframes scale-in {
	from {
		opacity: 0;
		// transform: scale(.5);

	}

	to {
		opacity: 1;
		// transform: scale(1)
	}
}

@keyframes slideDownAnimation {
	from {
		transform: scaleY(0);

	}

	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

@keyframes appear {
	from {
		transition: all 1s ease;
		transform: translateY(-10px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}








