

$default-white: #fff;
$default-dark: #061621;
$default-dark-purple: #100D48;
$default-purple: #7014f2;
$default-light-purple: #d38ff0;

$default-blue: #006cfa;
$blue-text: #7DB2FA;
$default-dark-blue: #0E417B;
$default-mint: #00f59b;
$default-green: #00aa57;
$default-dark-green: #00684a;




//linear-gradients






//MEDIA QUERIES

$break-small: 576px;
$break-tablet: 768px;
$break-large-tablet: 1024px;
$break-large: 1280px;
$break-xlarge: 1440px;
$break-xxlarge: 1600px;
$break-jumbo: 1920px;